@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: rgba(217, 217, 216, 0.8);
  --bg-color: rgba(217, 217, 216);
  --foreground: #171717;
  --footer-bg: #03101b;
  --text-color: #03101b;
  --border-color: rgba(3, 16, 27, 0.5);
  --title-color: #ffffff;
  --active-color: #ffffff;
  --title-nav: #171717;
  --error-button: #dc2626;
  /* --title-nav: #a3a3a3; */

  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--background);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

.emprego-container,
body {
  color: var(--foreground);
  /* font-family: Arial, Helvetica, sans-serif; */
  width: 1000px;
  max-width: 1000px;
  display: flex;
  justify-content: center;
  padding: 0;
  /* overflow: hidden; */
  background: url("./assets/background-title.jpg") center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

main {
  background: var(--background);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(8px);

  width: 100%;
  min-height: 50vh;
  /* z-index: 99; */
}

a {
  color: var(--title-nav);
  font-weight: 500;
  cursor: pointer;
}

a:hover {
  color: var(--active-color);
}

h1 {
  font-size: 64px;
  font-weight: 500;
}

h2 {
  font-weight: 400;
  font-size: 48px;
}
h3 {
  font-weight: 400;
  font-size: 24px;
}

label {
  font-weight: 400;
  font-size: 14px;
  color: var(--text-color);
}

textarea {
  background: none;
  color: var(--text-color);
  padding: 0.2rem 0.4rem;
  font-weight: 300;
  font-size: 12px;
  border: var(--border-color) 1px solid;
}

input {
  color: var(--text-color);
  padding: 0.2rem 0.4rem;
  font-weight: 300;
  font-size: 12px;
  background: none;
}

input::placeholder {
  color: var(--title-nav);
}
input[type="submit"]:hover {
  background-color: var(--foreground);
  color: var(--background);
}

input[type="submit"] {
  color: var(--title-color);
  background-color: var(--text-color);
  border-radius: 2px;
  font-weight: 300;
  cursor: pointer;
}

button:hover {
  font-weight: 500;
}
button {
  transition: 250ms all ease-in;
  color: var(--title-nav);
  font-weight: 300;
  cursor: pointer;
}

form input {
  border: var(--border-color) 1px solid;
  border-radius: 2px;
  /* background-color: var(--background); */
}

form div {
  display: flex;
  justify-content: space-between;
}

.nav-bar {
  display: flex;
  align-self: flex-start;
  justify-content: space-between;
  align-items: center;
  /* height: 160px; */
  width: 100%;
  /* width: 1000px; */
  /* min-width: 400px; */
  padding: 1rem;
  border-radius: 8px;

  color: var(--title-nav);

  a {
    padding: 0 0.4rem;
  }

  .navigators {
    display: flex;
    align-items: center;
    gap: 2rem;
    height: 2rem;
    backdrop-filter: blur(8px);
    border-radius: 4px;
  }
  .active {
    color: var(--active-color);
    /* text-decoration: underline 2px; */
    border-bottom: 3px solid;
  }

  .last-nav {
    overflow: hidden;
    backdrop-filter: blur(8px);
    border-radius: 4px;
  }
}

.header-title {
  color: var(--active-color);
}

.job-container:hover {
  background-color: var(--active-color);
}
.job-container {
  transition: all 500ms ease-out;
  border: 2px solid var(--active-color);

  h3 {
    font-size: medium;
    font-weight: 400;
  }

  h4 {
    font-size: larger;
    font-weight: 500;
  }

  p {
    font-size: x-small;
    font-weight: 300;
  }
}

.empregos {
  /* z-index: 55; */
}

.errorText {
  color: #b37e7e;
  font-weight: 300;
  font-size: small;
}

.loading {
  background: none;
  height: 2rem;
}

.menu {
  position: fixed;
  top: 4rem;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.menu-content {
  background: var(--footer-bg);
  color: var(--title-color);
  display: flex;
  flex-direction: column;
  /* padding: 2rem; */
  border-radius: 4px;
  text-align: center;
  overflow: hidden;

  h4 {
    padding: 1rem;
  }

  button {
    display: flex;
    padding: 0.2rem 2rem;
    justify-content: center;
    width: 100%;
    border: var(--text-color) 1px solid;
    color: var(--title-color);
  }
}
